/* This file is for your main application css. */
@import "./liveview.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  font-family: 'Roboto Slab', serif;
  background-image: url(/images/bg-top-left.svg), url(/images/bg-top-right.svg);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/****************\
*    Timeline    *
\****************/

#timeline {
  /* @apply relative top-0 border bottom-0 z-0 w-3 left-3; */
  @apply absolute top-0 border bottom-0 z-0 w-3 left-7;
  @apply bg-pz-carolina-blue border-pz-green-blue-crayola;
}

/****************\
*   Month Group  *
\****************/

.month-group {
  &__header {
    @apply flex flex-row items-center mb-8 rounded-full shadow-xl cursor-pointer w-min;
    @apply bg-pz-carolina-blue;
  }

  &__left-container {
    @apply flex flex-row items-center font-bold w-min px-3 py-2 rounded-full -ml-3.5 z-10 whitespace-nowrap h-10 border;
    @apply bg-white border-pz-carolina-blue text-pz-prussian-blue;
  }

  &__date::before {
    @apply w-4 h-4 mr-2 rounded-full inline-block relative top-0.5 border;
    @apply border-pz-prussian-blue bg-pz-carolina-blue;
    content: "";
  }

  &__right-container {
    @apply pl-2 pr-4 font-semibold whitespace-nowrap;
    @apply text-pz-prussian-blue;
  }

  &__body {
    @apply z-10;
  }
}


/****************\
*    Day Group   *
\****************/

.day-group {
  &__header {
    @apply flex flex-row items-center cursor-pointer left-6 relative my-6;

    &::before {
      @apply z-10 w-3 h-3 rounded-full relative border inline-block -left-6;
      @apply bg-white border-pz-prussian-blue;
      content: "";
    }

    &::after {
      @apply w-7 h-1 -ml-0.5 rounded-full shadow-md border absolute -left-3;
      @apply bg-white border-pz-prussian-blue;
      content: "";
    }
  }

  &__left-container {
    @apply z-20 px-4 py-1 font-semibold rounded-full shadow-md border;
    @apply bg-white border-pz-carolina-blue text-pz-prussian-blue;
  }

  &__right-container {
    @apply z-10 px-6 py-1 pl-12 -ml-10 font-semibold rounded-full shadow-md;
    @apply bg-pz-carolina-blue text-pz-prussian-blue;
  }

  &__body {
    @apply mt-4 ml-5;

    &[open] summary ~ * {
      animation: sweep .5s ease-in-out;
    }
  }

  &__events {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}

/****************\
*      Event     *
\****************/

/* TODO: Change colors */

.event {
  @apply flex flex-col z-10;

  &__header {
    @apply flex flex-row gap-2 items-center flex-none h-12 px-3 py-1 font-semibold border rounded-tr-2xl;
    @apply bg-pz-carolina-blue border-pz-dark-blue;
  }

  &__icon.fas {
    @apply flex-grow-0 text-lg flex-shrink flex justify-center items-center ml-1 mr-2;
    @apply text-pz-prussian-blue;
  }

  &__title {
    @apply flex-grow flex-shrink-0 text-lg;
  }

  &__button {
    @apply flex-grow-0 flex-shrink;
  }

  &__button-link {
    @apply px-3 py-1 mr-2 font-bold rounded-lg cursor-pointer border;
    @apply bg-white text-pz-prussian-blue border-pz-prussian-blue;
  }

  &__content {
    @apply p-2 border-l border-r overflow-hidden;
    @apply bg-blue-50 border-pz-prussian-blue;
  }

  &__topic {
    @apply inline font-semibold mr-2;
    @apply text-pz-dark-blue;
  }

  &__detail {
    @apply inline;
  }

  &__footer {
    @apply flex flex-row items-center justify-between h-12 px-3 py-1 border rounded-bl-2xl;
    @apply bg-pz-carolina-blue border-pz-dark-blue;
  }

  &__footer-container {
    @apply flex-none;
  }

  &__footer-title {
    @apply font-semibold mr-1;
    @apply text-pz-prussian-blue;
  }

  &__footer-value {
    @apply underline;
    @apply text-white;
  }
}

/****************\
*   Scrollbars   *
\****************/

/*

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;

}

.card-body:hover {
  color: rgba(0, 0, 0, 0.3);
}

.card-body {
    color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: color .3s ease;
}

*/
