elixir:
  data =
    with comment <- @event.payload["comment"]
    do
      %{
        content: [
          {"Author", comment["user"]["login"]},
          {"Kommentar", comment["body"]}
        ],
        detail_url: comment["html_url"]
      }
    end

= render "_base.html",
         event: @event,
         icon: "fa-sticky-note",
         title: "Commit kommentiert",
         content: data.content,
         detail_url: data.detail_url


