elixir:
  data =
    with payload <- @event.payload
    do
      %{
        content: [
          {
            "Beschreibung",
            payload["description"] |> make_it_markdown
          },
          {"Master Branch", payload["master_branch"]}
        ]
      }
    end

= render "_base.html",
         event: @event,
         icon: "fa-plus",
         title: "Repository erstellt",
         content: data.content
