elixir:
  data =
    with forkee <- @event.payload["forkee"],
         owner  <- link(forkee["owner"]["login"], to: forkee["owner"]["url"]),
         fork   <- link(forkee["name"], to: forkee["clone_url"])
    do
      %{
        content: [
          {"Besitzer", owner},
          {"Neues Repo", fork}
        ],
        detail_url: forkee["git_url"]
      }
    end

= render "_base.html",
         event: @event,
         icon: "fa-code-branch",
         title: "Fork erstellt",
         content: data.content,
         detail_url: data.detail_url
