elixir:
  data =
    with comment <- @event.payload["comment"],
         author <- link(comment["user"]["login"], to: comment["user"]["html_url"])
    do
      %{
        content: [
          {"Author", author},
          {"Kommentar", comment["body"]}
        ],
        detail_url: comment["html_url"]
      }
    end

= render "_base.html",
         event: @event,
         icon: "fa-comments",
         title: "Issue kommentiert",
         content: data.content,
         detail_url: data.detail_url
