elixir:
  data =
    with issue <- @event.payload["issue"]
    do
      %{
        content: [
          {"Author", issue["user"]["login"]},
          {"Kommentar", issue["body"]}
        ],
        detail_url: issue["html_url"]
      }
    end

= render "_base.html",
         event: @event,
         icon: "fa-exclamation",
         title: "Issue erstellt",
         content: data.content,
         detail_url: data.detail_url
