elixir:
  data =
    with review <- @event.payload["review"],
         author <- link(review["user"]["login"], to: review["user"]["html_url"])
    do
      %{
        content: [
          {"Author", author},
          {"Review", review["body"]}
        ],
        detail_url: review["html_url"]
      }
    end

= render "_base.html",
         event: @event,
         icon: "fa-sticky-note",
         title: "Review erstellt",
         content: data.content,
         detail_url: data.detail_url
