elixir:
  data = with commits <- @event.payload["commits"],
              commit <- List.first(commits)
  do %{
       content: [
         {"User", @event.actor["login"]},
         {"Commits", @event.payload["size"]},
         {
           "Message",
           commit["message"] |> make_it_markdown
         }
       ],
       detail_url: commit["url"]
     }
  end

= render "_base.html",
         event: @event,
         icon: "fa-arrow-up",
         title: "Commits gepusht",
         content: data.content,
         detail_url: data.detail_url
